{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"           : false,
    "__PROD__"          : false,
    "__TEST__"          : false,
    "__STAGING__"       : false,
    "__BASENAME__"      : false,
    "__CLIENT_NAME__"   : 'FOM',
    "__SERVER_PATH__"   : ''
  },
  "rules": {
    "semi" : [2, "never"],
    "space-infix-ops": 0,
    "max-len": [2, 120, 2],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
