div[class*="MuiCard-root"] {
  margin-bottom: 25px;

  &.expanded {
    padding-bottom: 24px;
  }

  &.collapsed {
    .collapseButton {
      transform: rotate(180deg);
    }
  }

  h2 {
    font-size: 18px;
    margin-top: 0;
    max-width: 70%;
    margin-bottom: 0;
  }

  .collapseButton {
    transition: transform 0.3s ease-in-out;
    margin-left: auto;
  }

  div[class*="MuiCardContent"] {
    overflow: hidden;
    padding-bottom: 0 !important;
    padding-top: 5px !important;
  }

  div [class*="MuiCollapse-container"] {
    float: none;
    clear: both;
    border-top: 1px solid #CCC;
    padding-top: 14px;
    transition: all 0.3s ease-in-out;

    &.cardCollapsed {
      padding-bottom: 0;
      padding-top: 0;
      border-top: 0 none;

      height: 0px !important;
    }
  }

  .cardHeader {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }
}
