.flex-right {
  margin-left: auto
}

.mt-sm {
  margin-top: 5px;
}

.mt-md {
  margin-top: 10px;
}

.mb-lg {
  margin-bottom: 15px !important;
}

.mx-no {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.px-no {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-no {
  padding-top: 0;
  padding-bottom: 0;
}

.pl-no {
  padding-left: 0;
}

.hidden {
  display: none;
}

.db {
  display: block !important;
}

.ta-c {
  text-align: center;
}

.of-h {
  overflow: hidden;
}
