.flex-right {
  margin-left: auto
}

.mt-sm {
  margin-top: 5px;
}

.mt-md {
  margin-top: 10px;
}

.px-no {
  padding-left: 0;
  padding-right: 0
}

.py-no {
  padding-top: 0;
  padding-bottom: 0;
}

.pl-no {
  padding-left: 0;
}

.hidden {
  display: none;
}
