@import '_bootstrap';
@import '_helpers';
@import '_card';
@import '_variables';
@import '_sidebar';
@import '_poll';

body {
  margin: 0;
  min-height: 100vh;
  background-color: $background;
}

section,
aside {
  padding-top: 10px;
  padding-bottom: 10px;
}

legend {
  border: 0 none;
  margin: 0;
  font-size: 13px;
  color: $legendTitle;
}

ul {
  list-style: outside none;
  padding: 0;
}
